<h2>Delivery Staffs</h2>

<div class="deliveryStaffs1">
  <div *ngIf="showDeleteSuccessMessage">
    <h3>Delivery Staff deleted successfully</h3>
  </div>
  <button class="button" (click)="addDeliveryStaff()">
    Add Delivery Staff</button>
  <br><br>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource"
    matSort matSortActive="name" matSortDirection="asc">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let deliveryStaff">
        <button (click)="getDeliveryStaffDetails(deliveryStaff)">{{deliveryStaff.name}}</button>
      </mat-cell>
    </ng-container>
    <!-- Edit button -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let deliveryStaff">
        <button mat-icon-button (click)="editDeliveryStaff(deliveryStaff)">Edit</button>
      </mat-cell>
    </ng-container>
    <!-- Edit button -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let deliveryStaff">
        <button mat-icon-button (click)="deleteDeliveryStaff(deliveryStaff)">Delete</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>

</div>
<mat-paginator showFirstLastButtons ></mat-paginator>

<button (click)="goBack()">Go Back</button>
